In [1]:
# List if high schools
high_schools = ["Herneandez High SChool", "Figueroa HIgh SChool", "Wilson High School", "Write High School",]

In [2]:
for school in high_schools:
    print(school)

Herneandez High SChool
Figueroa HIgh SChool
Wilson High School
Write High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [7]:
for school_type in high_school_types:
    print(school_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
# Add the Pandas dependency.
import pandas as pd

In [10]:
school_series = pd.Series(high_schools)
school_series

0    Herneandez High SChool
1      Figueroa HIgh SChool
2        Wilson High School
3         Write High School
dtype: object

In [12]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [13]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [15]:
# Initiate a new DataFrame.
schools_df = pd.DataFrame()

In [23]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school name"] = school_name
schools_df["type"] = type_of_school

# Print the DataFrame.
schools_df

,School ID,"(School ID, school_name, type_of_school)",school name,type
0,0,0,Huang High School,District
1,1,1,Figueroa High School,District
2,2,2,Shelton High School,Charter
3,3,3,Hernandez High School,District
4,4,4,Griffin High School,Charter

In [24]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [25]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [46]:
new_school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Herneandez High SChool","Figueroa HIgh SChool","Wilson High School","Write High School"]

In [50]:
new_school_id = ["0","1","2","3","4","5","6","7","8"]
new_school_type = ["District", "District", "Charter", "District","Charter","District", "Charter", "District","Charter"]

In [51]:
new_schools_pd = pd.DataFrame()

In [52]:
new_schools_pd["School ID"] = new_school_id
new_schools_pd["School Name"] = new_school_name
new_schools_pd["Type"] = new_school_type
new_schools_pd

  School ID             School Name      Type
0         0       Huang High School  District
1         1    Figueroa High School  District
2         2     Shelton High School   Charter
3         3   Hernandez High School  District
4         4     Griffin High School   Charter
5         5  Herneandez High SChool  District
6         6    Figueroa HIgh SChool   Charter
7         7      Wilson High School  District
8         8       Write High School   Charter